* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 50,50,50,0.5);
}

header {
    background-image: url(./assets/rob-laughter-491252-unsplash.jpg);
    height: 100vh;
    background-repeat: round;
    display: flex;
    align-items: center;
    position: relative;

    .movieHero {
        width: 80%;
        align-items: center;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
    }

}


h1 {
    margin: 0 auto;
    font-family: 'Libre Baskerville',
    serif;
    color: white;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-family: 'Libre Baskerville',
    serif;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.queryResult {
    h2 {
        margin-top: 4%;
    }

    p {
        color: white;
        text-align: center;
        font-family: 'Oswald',
        sans-serif;
        font-size: 1.75rem;
    }
}

form {
    margin: 0 auto;
    font-family: 'Oswald',
    sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}

input[type=submit],
button {
    border-radius: 5px;
    border: none;
    background-color: #DAA520;
    font-family: 'Oswald',
    sans-serif;
    padding: 15px 30px; 
    margin-top: 5%;
}

input[type=text]
{
border-radius: 5px;
}


main {
       background-image: linear-gradient(to bottom, #b50e17, #b51915, #b42113, #b42712, #b32d10, #ae2c0f, #a82b0f, #a32a0e, #98230d, #8d1c0d, #83150b, #780d09);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.movieList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Oswald',
    sans-serif;
    

    .movieItem {
        width: 45%;
        margin: 5% 0;
        color: #F5F5F5;
        line-height: 30px;
        padding: 5%;

        p span {
            color: #FFD700;
        }

         h2 {
             padding-bottom: 3%;
         }
         
        img {
            max-width: 100%;
            width: 100%;

           
        }

    }
}

.backToTop {
margin-bottom: 15px;
}