* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}


header {
    background-image: url(./assets/rob-laughter-491252-unsplash.jpg);
    height: 100vh;
    background-repeat: round;
    display: flex;
    align-items: center;

    .movieHero {
        width: 80%;
        align-items: center;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #827717;
        border-radius: 5px;
        border: 10px dotted yellow;
    }

}


h1 {
    margin: 0 auto;
    font-family: 'Permanent Marker',
    cursive;
}

h2 {
    font-family: 'Permanent Marker',
    cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.queryResult {
    margin: 4% 0;
}

form {
    margin: 0 auto;
    font-family: 'Oswald',
    sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}

input[type=submit],
button {
    border-radius: 5px;
    border: none;
    background-color: grey;
    font-family: 'Oswald',
    sans-serif;
    padding: 15px 30px; 
    margin-top: 5%;
}

input[type=text]
{
border-radius: 5px;
}


main {
    background: #5C2828;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.movieList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid blue;

    font-family: 'Oswald',
    sans-serif;
    

    .movieItem {
        width: 45%;
        border: 2px solid red;
        margin: 5% 0;
        color: #F5F5F5;
        line-height: 30px;
        padding: 5%;

         h2 {
             padding-bottom: 3%;
         }
         
        img {
            max-width: 100%;
            width: 100%;

           
        }

    }
}