@media(max-width: 800px ){

.movieList { 

    flex-direction: column;
    align-items: center;

}



.movieList .movieItem {
    width: 100%;
}

}

@media(max-width: 565px) {

header h2 {
font-size: 1.5rem;
margin-top: 5%;
}


}

@media(max-width: 378px) {

    h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.25rem;
    }


.queryResult p {
    font-size: 1.5rem;
}

.movieList .movieItem h2 {
line-height: 40px;
}

}